Импортируем библиотеки

In [197]:
import pandas as pd
import numpy as np
from pprint import pprint

import httplib2
import apiclient.discovery
from oauth2client.service_account import ServiceAccountCredentials

Проба работы с Google Sheets API

In [208]:

# Файл, полученный в Google Developer Console
CREDENTIALS_FILE = 'creds.json'
# ID Google Sheets документа (можно взять из его URL)
spreadsheet_id = '1y6OR3pfiiatq44WhVYJJ9h105N-LYJCAFsNtTFLQpmE'

# Авторизуемся и получаем service — экземпляр доступа к API
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    CREDENTIALS_FILE,
 ['https://www.googleapis.com/auth/spreadsheets',
     'https://www.googleapis.com/auth/drive'])
httpAuth = credentials.authorize(httplib2.Http())
service = apiclient.discovery.build('sheets', 'v4', http = httpAuth)

# Пример чтения файла
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range='A1:E10',
    majorDimension='COLUMNS'
).execute()
pprint(values)

# Пример записи в файл
values = service.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "B3:C4",
             "majorDimension": "ROWS",
             "values": [["This is B3", "This is C3"], ["This is B4", "This is C4"]]},
            {"range": "D5:E6",
             "majorDimension": "COLUMNS",
             "values": [["This is D5", "This is D6"], ["This is E5", "=5+5"]]}
	]
    }
).execute()

{'majorDimension': 'COLUMNS',
 'range': "'Лист1'!A1:E10",
 'values': [[],
            ['', '', 'This is B3', 'This is B4'],
            ['', '', 'This is C3', 'This is C4'],
            ['', '', '', '', 'This is D5', 'This is D6'],
            ['', '', '', '', 'This is E5', '10']]}

Очищение после тестов

In [209]:
values = service.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "A1:F10",
             "majorDimension": "COLUMNS",
             "values": [['' for __ in range(10)] for _ in range(6)]}
	]
    }
).execute()

Чтение с с таблицы

In [210]:
spreadsheet_id = '1Ycg7zTxds9DZnDvTrFcyNNKuTUxg6Yy6WF0a8Wc02WQ'

# Авторизуемся и получаем service — экземпляр доступа к API
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    CREDENTIALS_FILE,
 ['https://www.googleapis.com/auth/spreadsheets',
     'https://www.googleapis.com/auth/drive'])
httpAuth = credentials.authorize(httplib2.Http())
service = apiclient.discovery.build('sheets', 'v4', http = httpAuth)

# Чтение из вкладки leads
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range="'leads'!A1:F",
    majorDimension='ROWS'
).execute()

leads_df = pd.DataFrame(values['values'][1:],
                   columns=values['values'][0])

# Чтение из вкладки managers
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range="'managers'!A1:C",
    majorDimension='ROWS'
).execute()

managers_df = pd.DataFrame(values['values'][1:],
                   columns=values['values'][0])

# Чтение из вкладки clients
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range="'clients'!A1:C",
    majorDimension='ROWS'
).execute()

clients_df = pd.DataFrame(values['values'][1:],
                   columns=values['values'][0])

# Чтение из вкладки transactions
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range="'transactions'!A1:D",
    majorDimension='ROWS'
).execute()

transactions_df = pd.DataFrame(values['values'][1:],
                   columns=values['values'][0])

Изучение файлов и переведение дат к типу дат из строк

In [211]:
leads_df['created_at']=pd.to_datetime(leads_df['created_at'])
leads_df.head()

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1

In [212]:
managers_df.head()

                             manager_id    d_manager   d_club
0  1e9c5562-0cfc-11ea-abe1-c412f533dba1   manager #8  club #2
1  43756fa4-57a0-11e9-ab9a-c412f533dba1  manager #11  club #4
2  543888c4-fbb3-11e9-abdc-c412f533dba1  manager #12  club #3
3  5dd88f32-6501-11ea-abf3-c412f533dba1  manager #10  club #2
4  9a87c608-52dc-11ea-abeb-c412f533dba1   manager #9  club #3

In [213]:
clients_df['created_at']=pd.to_datetime(clients_df['created_at'], errors='ignore')
clients_df.head()

,client_id,created_at,l_manager_id
0,0001da7d-fcda-11ea-ac18-c412f533dba1,2020-09-22 17:46:23,9a87c608-52dc-11ea-abeb-c412f533dba1
1,000a8743-9ae1-11e7-8114-c412f533dba1,2017-09-16 00:00:00,ad52c7a8-a752-11e7-8115-c412f533dba1
2,000ae57e-2d48-11ea-abeb-c412f533dba1,2020-01-02 14:08:56,43756fa4-57a0-11e9-ab9a-c412f533dba1
3,00133cde-481c-11ea-abeb-c412f533dba1,2020-02-05 17:25:13,9a87c608-52dc-11ea-abeb-c412f533dba1
4,00148d3f-07e6-11e8-812a-c412f533dba1,2018-02-02 00:00:00,abed5496-ca88-11e9-abb8-c412f533dba1

In [214]:
transactions_df['created_at']=pd.to_datetime(transactions_df['created_at'])
transactions_df.head()

,transaction_id,created_at,m_real_amount,l_client_id
0,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,31,8a805e60-6fd6-11e7-80fc-c412f533dba1
1,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,87,8a805e60-6fd6-11e7-80fc-c412f533dba1
2,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,49231,dc0d0e52-629a-11ea-abf3-c412f533dba1
3,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,17305,dc0d0e52-629a-11ea-abf3-c412f533dba1
4,52f8ebcc-d82d-4be1-8004-72cfbe0dff24,2020-09-25 06:00:07,9022,e663b6a0-4a1a-11e8-a2c3-c412f533dba1

Ещё одна авторизация

In [217]:
# Файл, полученный в Google Developer Console
CREDENTIALS_FILE = 'creds.json'
# ID Google Sheets документа (можно взять из его URL)
spreadsheet_id = '1y6OR3pfiiatq44WhVYJJ9h105N-LYJCAFsNtTFLQpmE'

# Авторизуемся и получаем service — экземпляр доступа к API
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    CREDENTIALS_FILE,
 ['https://www.googleapis.com/auth/spreadsheets',
     'https://www.googleapis.com/auth/drive'])
httpAuth = credentials.authorize(httplib2.Http())
service = apiclient.discovery.build('sheets', 'v4', http = httpAuth)

Общие число заявок и запись этого кол-ва

In [218]:
count_leads = len(leads_df)
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "A1:A2",
             "majorDimension": "COLUMNS",
             "values": [['Число заявок', count_leads]]}
	]
    }
).execute()

Мусорные заявки

In [219]:
rubbish_leads = int((~leads_df['l_client_id'].isin(clients_df['client_id'])).value_counts()[True])
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "C1:C2",
             "majorDimension": "COLUMNS",
             "values": [['Число мусорных заявок', rubbish_leads]]}
	]
    }
).execute()

Грубая проверка в лоб(на всякий случай)

In [220]:
print(len(leads_df['l_client_id'].unique()))
print(len(clients_df['client_id'].unique()))
q=0
for i in leads_df['l_client_id'].unique():
    if i not in clients_df['client_id'].unique():
        q+=1
        print(q,i)
print(len(leads_df[leads_df['l_client_id']=='00000000-0000-0000-0000-000000000000']))

2183
75766
1 00000000-0000-0000-0000-000000000000
824

Очищение таблицы от мусорных заявок

In [221]:
leads_df=leads_df[leads_df['l_client_id']!='00000000-0000-0000-0000-000000000000']

Проверка каждой заявки на то что её сдел новый человек и соответственно запись их кол-ва

In [222]:
new_lead=0
for ind, lead in leads_df.iterrows():
    # Все транзакции и запросы данного пользователя
    all_l = leads_df[leads_df['l_client_id']==lead['l_client_id']]
    all_t = transactions_df[transactions_df['l_client_id']==lead['l_client_id']]
    # Проверка того что это первое действие этого человека
    if (lead['created_at']<=all_l['created_at']).all() and (lead['created_at']<all_t['created_at']).all():
        new_lead+=1

In [223]:
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "E1:E2",
             "majorDimension": "COLUMNS",
             "values": [['Число новых заявок', new_lead]]}
	]
    }
).execute()

Проверка на оплату в течении недели и соответственно запись их кол-ва

In [224]:
paid_lead = 0
for ind, lead in leads_df.iterrows():
    # Все не нулевые транзакции данного пользователя
    all_t = transactions_df[transactions_df['l_client_id']==lead['l_client_id']][transactions_df['m_real_amount']!=0]
    # Отсеивание тех транзакций которые были совершены до данного действия и тех что после 1 недели
    cur = all_t[lead['created_at']<all_t['created_at']]
    if ((lead['created_at']+np.timedelta64(1,'W'))>cur['created_at']).any():
        paid_lead+=1

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [225]:
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "G1:G2",
             "majorDimension": "COLUMNS",
             "values": [['Число оплаченных заявок', paid_lead]]}
	]
    }
).execute()

Проверка на оплату в течении недели новыми клиентами и соответственно запись их кол-ва

In [226]:
new_paid_lead = 0
for ind, lead in leads_df.iterrows():
    # Все заказы данного пользователя и не нулевые транзакции данного пользователя
    all_l = leads_df[leads_df['l_client_id']==lead['l_client_id']]
    all_t = transactions_df[transactions_df['l_client_id']==lead['l_client_id']][transactions_df['m_real_amount']!=0]
    # Отсеивание тех транзакций которые были совершены до данного действия
    cur = all_t[lead['created_at']<all_t['created_at']]
    # Проверка того что это первое действие этого человека и того что транзакция была в течении 1 недели
    if (lead['created_at']<=all_l['created_at']).all() and \
       (lead['created_at']<all_t['created_at']).all() and \
       ((lead['created_at']+np.timedelta64(1,'W'))>cur['created_at']).any():
        new_paid_lead+=1

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [227]:
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "I1:I2",
             "majorDimension": "COLUMNS",
             "values": [['Число новых оплаченных заявок', new_paid_lead]]}
	]
    }
).execute()

Сумма оплаты новыми покупателями и соответственно запись их кол-ва

In [228]:
summ=0
for ind, lead in leads_df.iterrows():
    # Все заказы данного пользователя и не нулевые транзакции данного пользователя
    all_l = leads_df[leads_df['l_client_id']==lead['l_client_id']]
    all_t = transactions_df[transactions_df['l_client_id']==lead['l_client_id']][transactions_df['m_real_amount']!=0]
    # Отсеивание тех транзакций которые были совершены до данного действия
    cur = all_t[i['created_at']<all_t['created_at']]
    # Проверка того что это первое действие этого человека и того что транзакция была в течении 1 недели
    if ((lead['created_at']+np.timedelta64(1,'W'))>cur['created_at']).any():
        if (lead['created_at']<=all_l['created_at']).all() and \
           (lead['created_at']<all_t['created_at']).all():
            # Если запрос прошёл проверку на то что он сделан новым человеком, то нам достаточно 
            # только отсеить транзакции которые были совершены не позже чем через неделю после заявки
            cur_s = cur[(lead['created_at']+np.timedelta64(1,'W'))>cur['created_at']]
            summ+=int(cur_s['m_real_amount'].values[0])

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

TypeError: string indices must be integers

In [ ]:
values = service_1.spreadsheets().values().batchUpdate(
    spreadsheetId=spreadsheet_id,
    body={
        "valueInputOption": "USER_ENTERED",
        "data": [
            {"range": "K1:K2",
             "majorDimension": "COLUMNS",
             "values": [['Сумма полученнвая от новых оплаченных заявок', summ]]}
	]
    }
).execute()

Фильтрация заказов по каналу привлечения

In [ ]:
uniq = leads_df['d_utm_source'].unique()
uniq

In [ ]:
ind = 0 # Заменить при наобходимости на индекс любого из списка выше

final_leads_df = leads_df[leads_df['d_utm_source']==uniq[ind]]

Фильтрация заказов по номеру менеджера

In [ ]:
uniq = managers_df['d_manager'].unique()
uniq

In [ ]:
ind = 0 # Заменить при наобходимости на индекс любого из списка выше
id_manager = managers_df[managers_df['d_manager']==uniq[ind]]['manager_id'].values[0]
final_leads_df = leads_df[leads_df['l_manager_id']==id_manager]

Фильтрация заказов по клубу менеджера

In [ ]:
uniq = managers_df['d_club'].unique()
uniq

In [ ]:
ind = 0 # Заменить при наобходимости на индекс любого из списка выше
id_managers = managers_df[managers_df['d_club']==uniq[ind]]['manager_id'].values[0]
final_leads_df = leads_df[leads_df['l_manager_id']==id_managers]